@charset "UTF-8";
body {
  margin: 0;
  background-color: rgba(34, 0, 51, 0.75); }
  body > svg {
    display: none; }

img {
  max-width: 100%;
  height: auto; }

.page-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  box-sizing: border-box;
  min-height: 100vh;
  padding-top: 90px;
  background-color: #fff;
  box-shadow: #64666b 0px 0px 40px 0px; }

.page-header {
  display: none; }

.page-header__title {
  outline: 1px solid green;
  width: 50%;
  text-align: right; }

.projects {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.projects__group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-bottom: 70px; }

.projects__title {
  width: 100%;
  padding-left: 60px;
  margin: 0;
  margin-bottom: 45px;
  font-family: 'Spectral SC', serif;
  font-size: 34px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #000; }
  .projects__title--text-right {
    padding-right: 60px;
    padding-left: 0;
    text-align: right; }

.projects__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.project-item {
  position: relative;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  max-width: 300px;
  -ms-flex-positive: 3;
      flex-grow: 3;
  margin-bottom: 90px; }
  .project-item--nerds .project-item__screen {
    background-image: url("../img/nerds-preview.jpg"); }
  .project-item--technomart .project-item__screen {
    margin-bottom: 65px;
    background-image: url("../img/technomart-preview.jpg"); }
  .project-item--technomart .project-item__logo:hover img {
    filter: contrast(1.3); }
  .project-item--resee .project-item__screen {
    background-image: url("../img/resee-preview.jpg"); }
  .project-item--gllacy .project-item__screen {
    margin-bottom: 45px;
    background-image: url("../img/gllacy-preview.jpg"); }
  .project-item--sedona .project-item__screen {
    background-image: url("../img/sedona-preview.jpg"); }
  .project-item--industrial .project-item__screen {
    background-image: url("../img/industrial-preview.jpg"); }
  .project-item--bikeshop .project-item__screen {
    margin-bottom: 20px;
    background-image: url("../img/bikeshop-preview.jpg"); }
  .project-item--bikeshop .project-item__logo:hover img {
    filter: opacity(0.7); }
  .project-item--uneedweb .project-item__screen {
    background-image: url("../img/uneedweb-preview.jpg"); }
  .project-item--uneedweb .project-item__logo:hover img {
    transition: 0.3s;
    filter: none;
    transform: rotateY(180deg); }
  .project-item--fix > a::before {
    content: 'Фиксированная вёрстка';
    color: #fff;
    background-color: red; }
  .project-item--fluid > a::before {
    content: 'Резиновая вёрстка';
    color: #000;
    background-color: yellow; }
  .project-item--adaptive > a::before {
    content: 'Адаптивная вёрстка';
    color: #fff;
    background-color: green; }
  .project-item > a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    padding-bottom: 35px;
    background-color: #fff;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    overflow: hidden;
    transition: all 0.3s; }
    .project-item > a::before {
      position: absolute;
      padding: 5px 10px;
      font-family: 'Play', sans-serif;
      text-decoration: none;
      opacity: 0;
      z-index: 2; }
    .project-item > a:hover {
      box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.75);
      animation: jump 0.2s linear forwards; }
      .project-item > a:hover::before {
        opacity: 1; }
      .project-item > a:hover .project-item__descr-wrapper {
        opacity: 1; }
    .project-item > a:active .project-item__logo {
      opacity: 0.5; }

@keyframes jump {
  50% {
    transform: translateY(-15px); }
  100% {
    transform: translateY(-10px); } }

.project-item__screen {
  padding-top: 270px;
  margin-bottom: 35px;
  background-repeat: no-repeat;
  background-size: 100%; }

.project-item__logo {
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 60%;
  text-align: center; }
  .project-item__logo:hover img {
    filter: contrast(2); }

.project-item__descr-wrapper {
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 270px;
  padding: 10px;
  font-family: 'Play', sans-serif;
  text-align: center;
  color: #fff;
  text-decoration: none;
  background-color: rgba(34, 0, 51, 0.75);
  opacity: 0;
  transition: all 0.2s; }
  .project-item__descr-wrapper p {
    margin: auto; }
