.me {
  outline: 1px solid green;
  width: 50%;
  font-family: "Play", sans-serif;
}

.me__my-photo {
  border-radius: 50%;
}

.me__name {
  font-size: 23px;
}

.me__profession {
  font-size: 19px;
}
